<main>
  <header>
  <p><span style="font-size: 85px">S</span>CHNEIDER'S <span style="font-size: 85px">D</span>ELICATESSEN</p>
  <p id="undLine"><span style="font-size: 85px">________________________________ {{!-- ________________________ --}}</span></p>
  </header>
  <div class="row">

    <div class="col-md-12 ">

      <div class="col-md-4">
        <div id="orderCueDiv">
          <h2 class="heading">Order Cue</h2>
          <ul>
            {{#each hotdogs}}
              {{#unless this.devoured}}
                <li>
                  <input input type="hidden" type="text" name="hotdog_id" value={{this.id}}>
                  <p class="burgerType">{{this.meal_name}}</p>
                  <form action="/hotdogs/updateOne?_method=PUT" method="POST">
                    <input class="custInput" input type="text" name="customer" placeholder="Customer Name (optional)">
                    <button class="btnDevour" type="submit">Delivered</button>
                  </form>
                </li>
              {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="input">
          <h2  class="heading" id="add">Add an Order</h2>
          <div class="form-group">
            <form method="POST" action="/hotdogs/insertOne" class="addOne text-center">
              <textarea id="textArea" type="text" name="meal_name" rows="3" cols="60"></textarea>
              <button id="btnCreate" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-left">
        <div id="orderDoneDiv">
          <h2 class="heading">Served Meals</h2>
          <ul>
            {{#each hotdogs}}
              {{#if this.devoured}}
                {{#if this.Customer.customer}}
                  <li>
                    <input input type="hidden" type="text" name="hotdog_id" value={{this.id}}>
                    <p class="burgerType">{{this.meal_name}}</p>
                    <p class="eatenBy">{{this.Customer.customer}}</p>
                    <form action="/hotdogs/deleteOne/?_method=DELETE" method="POST">
                      <button class="btnDevour" type="submit">Remove</button>
                    </form>
                  </li>
                {{else}}
                  <li>
                    <input input type="hidden" type="text" name="hotdog_id" value={{this.id}}>
                    <p class="burgerType">{{this.meal_name}}</p>
                    <form action="/hotdogs/deleteOne/?_method=DELETE" method="POST">
                      <button class="btnDevour" type="submit">Remove</button>
                    </form>
                  </li>
                {{/if}}
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>

    </div>
  </div>
</main>


